:root {
	--yellow: #ffcb05;
	--light-blue: #3d7dca;
	--dark-blue: #003a70;
	--light-yellow: #fff8db;
	--red: #cc0000;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	color: var(--dark-blue);
	/* background-image: url(../img/shorter-pokeball-background.svg); */
}

h1 {
	font-family: 'Luckiest Guy', cursive;
	font-size: 40px;
	text-align: center;
	color: var(--red);
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	color: var(--red);
}

/* navbar styling */
.navbar {
	background-color: var(--red);
}

.navbar-brand {
	font-family: 'Luckiest Guy', cursive;
	font-size: 40px;
	text-align: center;
	color: var(--yellow);
}

/* pokemon button styling */
.pokemon-button {
	border: none;
	font-family: inherit;
	font-size: 18px;
	font-weight: 600;
	background-color: var(--dark-blue);
	color: var(--yellow);
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 5px;
	border-bottom: 2px solid #001d38;
	transition: 0.5s;
	margin: 3px auto 0px auto;
	text-transform: capitalize;
	width: 30%;
}

.pokemon-button:hover,
.pokemon-button:focus {
	cursor: pointer;
	background-color: var(--yellow);
	color: var(--dark-blue);
}

.list-group {
	max-height: calc(100vh - 150px);
	overflow-y: auto;
}
/* end of pokemon button styling */

.page-footer {
	clear: both;
	display: flex;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
}

@media all and (max-width: 750px) {
	h1 {
		font-size: 22px;
	}
	.pokemon-button {
		width: 90%;
	}

	.list-group {
		max-height: calc(100vh - 70px);
	}
}

@media all and (min-width: 2500px) {
	.list-group {
		max-height: calc(100vh - 175px);
	}
	.pokemon-button {
		width: 20%;
	}
}
