/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #003A70;
    /* background-image: url(../img/pokeball-background.svg);
    background-size: 100% auto; */
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
    text-align: center;
    color: #CC0000;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
}

@media all and (max-width: 750px) {
      h1 {
        font-size: 22px;
      }
    }