:root{
    --yellow: #FFCB05;
    --light-blue: #3D7DCA;
    --dark-blue: #003A70;
    --light-yellow: #FFF8DB;
    --red: #CC0000;
}

*{
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: var(--dark-blue);
    /* background-image: url(../img/shorter-pokeball-background.svg); */
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
    text-align: center;
    color: var(--red);
}

/* pokemon button styling */
.pokemon-button {
    border: none;
    font-family: inherit;
    font-size: 18px;
    background-color: var(--dark-blue);
    color: var(--yellow);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    border-bottom: 2px solid #001D38;
    transition: 0.5s opacity;
    margin: 5px;
    display: inline-block;
    width: 150px;
}


.pokemon-button:hover, .pokemon-button:focus {
    cursor: pointer;
    opacity: 0.8;
}

.pokemon-list li {
    list-style-type: none;

  }

  ul.pokemon-list {
      /* adding a max-height attribute allows for the list to expand up until that side of the screen minus the footer and header space (about 145px) based on what you have set up already */
    max-height: calc(100vh - 145px); 
    /* if you dont constrain the overflow to a scroll bar it wont look like it's limited in size try commenting this out below.. basically max-height only works if you are declaring the overflow in this case. */
    overflow-y: scroll;
}
/* end of pokemon button styling */

.page-footer {
    clear: both;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

@media all and (max-width: 750px) {
      h1 {
        font-size: 22px;
      }
    }